@font-face {
  font-family: "Play";
  font-style: normal;
  src: url("https://file.uhsea.com/2502/01ff77a361abf4a668e940503a1987fb6N.ttf")
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Play", sans-serif;
}
